%h1 Painting Gallery

#paintings
  = render @paintings
.clear


.progress
  .bar


= form_for Painting.new do |f|
  = f.label :image, 'Upload paintings:'
  = file_field_tag 'painting[image]', multiple: true

